/*
 * Blue:	#254571
 *	Darker:	#1D3557
 *	Lighter:#3E74BD
 * Green:	#298A1F
 *	Darker:	#22711A
 * Gray:	#DDDDDD
 */

body {
	font-family: sans-serif;
	font-size: 16px;
	background-color: #254571;
	color: #254571;
}
p {
	text-indent: 1em;
	line-height: 1.5;
}
a {
	color: #298A1F;
	text-decoration: none;
	padding-bottom: 0.15em;
	border-bottom: 0.1em solid transparent;
	cursor: pointer;
}
a:hover {
	color: #34B028;
	border-bottom-color: #34B028;
}
a:visited {
	color: #164A11;
}
a.ninja {
	text-decoration: none;
	padding-bottom: 0;
	border-bottom: 0;
}
a[href^="tel:"]:before {
	font-family: FontAwesome;
	content: "\f095";
	margin-right: 0.5em;
}
a.callout {
	display: inline-block;
	padding: 0.75em 1em 0.75em 1em;
	color: white;
	background-color: #298A1F;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #22711A;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
a.callout i.fa {
	vertical-align: 5%;
	margin: 0 0 0 5px;
}
.page-anchor {
	display: block;
	position: relative;
	top: -74px;
	visibility: hidden;
}
.group-callout-right {
	text-align: right;
	padding: 0.5em 5px 0 0;
}
.callout-right {
	text-align: right;
	padding: 0 1em 1em 1em;
}
.avoidwrap {
	display: inline-block;
}
ul {
	margin: 0;
	list-style-type: none;
	padding-left: 1.5em;
}
ul li {
	padding: 0.25em;
	border-bottom: 0;
	text-indent: 0;
	position: relative;
}
ul li:before {
	content: "●";
	position: absolute;
	left: -1em;
}
ul.style-checks li {
	padding: 0.4em;
}
ul.style-checks li:before {
	content: "✔";
	font-weight: bold;
	font-size: 120%;
	top: 0px;
}
table {
	width: 100%;
	box-shadow: 0 2px 7px rgba(0,0,0,0.3);
	border-radius: 3px;
}
table th {
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
}
table td, table th {
	border: 2px solid #EBF0F6;
	padding: 0.5em;
}
table tr:first-child td, table tr:first-child th {
	border-top: 0;
}
table tr:last-child td, table tr:last-child th {
	border-bottom: 0;
}
table tr td:first-child, table tr th:first-child {
	border-left: 0;
}
table tr td:last-child, table tr th:last-child {
	border-right: 0;
}
table tr:nth-child(even)  {
	background: #F4F7F9;
}
table.td-centered td {
	text-align: center;
}
h1 {
	margin: 1em 0;
	padding-bottom: 0.25em;
	border-bottom: 4px solid #254571;
}
h2 {
	text-align: center;
	font-size: 200%;
}
h4 {
	margin: 1em 0;
}
h5 {
	font-size: medium;
	text-align: center;
	font-weight: normal;
	margin: 1em 0;
}
::selection {
	text-shadow: none;
	background: #47BA3B;
	color: white;
}
.light {
	opacity: 0.5;
}
.clearfix {
	clear: both;
}
.menu-logo {
	background: url("/img/logo-full-white.svg");
	width: 180px;
	height: 50px;
	border-bottom: 4px solid transparent;
	margin-bottom: -0.5em;
	margin-top: -4px;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	background-repeat: no-repeat;
}
.menu-logo:hover {
	border-bottom-color: rgba(255,255,255,0.35);
}
.tooltip {
	border-bottom: 1px dotted black;
	cursor: default;
	position: relative;
	margin-right: 1em;
}
.tooltip:after {
	font-family: FontAwesome;
	content: " \f05a";
	margin-right: -1em;
}
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: white;
	border-radius: 6px;
	padding: 10px;
	text-align: center;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 5px 10px 2px rgba(0,0,0,0.15);
	white-space: normal;
	font-weight: normal;
	width: 150%;
	min-width: 200px;
	
	/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
	opacity: 0;
	transition: opacity 0.5s;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.content-block {
	max-width: 1400px;
	margin: auto;
	position: relative;
}
.home-menu {
	background: #254571;
	text-align: left;
	background-clip: padding-box;
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);
}
.home-menu .pure-menu-heading {
	padding-top: 1em;
}
.home-menu .menu-right {
	position: absolute;
	right: 0;
	bottom: 0;
}
.home-menu .pure-menu-list li:before {
	content: "";
}
.home-menu a {
	border: 0;
}
.home-menu .pure-menu-link {
	color: white;
	font-weight: bold;
	padding: 1em 1em 0.75em 1em;
}
.home-menu .pure-menu-link:visited {
	color: white;
}
.home-menu .pure-menu-link:hover {
	background: transparent;
}
.home-menu .pure-menu-item {
	border-bottom: 4px solid transparent;
}
.home-menu .pure-menu-item:hover {
	border-bottom-color: rgba(255,255,255,0.35);
}
.home-menu .pure-menu-item .pure-menu-link:focus {
	background: transparent;
}
.home-menu .pure-menu-selected, .home-menu .pure-menu-selected:hover {
	border-bottom-color: white;
}
.container {
	margin-top: 74px;
	background: #254571;
}
.splash {
	width: 100%;
	height: 40%;
	position: fixed;
	top: 74px;
	overflow: hidden;
}
.splash .splash-image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	object-position: 50% 40%;
	object-fit: cover;
	filter: blur(7px);
	transform: scale(1.1);
}
.splash .content-block {
	height: 100%;
	position: relative;
}
.splash .motto {
	color: white;
	width: 66%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	font-size: 200%;
	text-shadow: 0 7px 14px rgba(0,0,0,0.5);
}
.splash .motto .content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 1em;
}
.splash .motto .motto-logo {
	width: 65%;
}
.splash .motto p {
	margin: 0;
}
.splash .call-to-action {
	width: 33%;
	position: absolute;
	right: 0;
	height: 100%;
}
.splash .call-to-action:before {
	content: " ";
	position: absolute;
	top: -50%;
	left: 0;
	width: 100%;
	height: 200%;
	transform: rotate(15deg);
	background: rgba(0,0,0,0.3);
	box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.1);
}
.splash .call-to-action .content {
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 1em 2em;
}
.splash .call-to-action p {
	margin-top: 0;
	font-size: 150%;
	text-align: left;
	font-size: normal;
	text-shadow: 0 5px 7px rgba(0,0,0,0.5);
}
.container.with-splash {
	position: absolute;
	top: 40%;
	width: 100%;
}
.container .spacer {
	background: #254571;
	height: 1em;
	color: white;
	text-align: center;
	font-weight: bold;
}
.container .content {
	padding: 0 1em 1em 1em;
	background: white;
	overflow: hidden;
}
.container .footer {
	padding: 1em;
	z-index: -1;
	text-align: center;
	color: white;
	font-size: small;
	text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.container-item.expand-height {
	display: flex;
	flex-direction: column;
}
.container-item .container-item-container {
	margin: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	border-radius: 3px;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.container-item .container-item-container.borderless {
	margin-top: 1em;
	box-shadow: none;
}
.container-item .container-item-header {
	background: #AAAAAA;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	padding: 1em;
	border-radius: 5px 5px 0 0;
}
.container-item.blue .container-item-header {
	background: #254571;
}
.container-item.white .container-item-header {
	background: linear-gradient(180deg, #EBF0F6, white);
	color: #254571;
}
.container-item .container-item-header a {
	color: white;
	text-decoration: none;
}
.container-item .container-item-header .fa {
	display: inline-block;
	text-align: center;
	vertical-align: -15%;
	width: 40px;
	margin: 0 10px 0 5px;
}
.container-item .container-item-body {
	margin: 0;
	padding: 1em;
	position: relative;
	flex: 1;
}
.container-item .container-item-body *:first-child {
	margin-top: 0;
}
.container-item .container-item-image {
	width: 100%;
	flex: 1;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 3px;
	min-height: 325px;
}
.container-item .container-item-caption {
	text-align: center;
	font-style: italic;
	padding: 0.75em;
}
.container-item.header-only {
	text-align: center;
}
.container-item.header-only .container-item-header {
	flex: 1;
	border-radius: 5px;
}
.container-item.header-only .container-item-header i {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
}
.container-item.header-only .container-item-header i:before {
	font-size: 150%;
}

a.show-hide {
	font-size: 75%;
}
a.show-hide:before {
	content: "[";
}
a.show-hide:after {
	content: "]";
}
.pure-u-1.payroll-container {
	position: relative;
}
.payroll-table-container {
	height: 100px;
	max-width: 100%;
	overflow: hidden;
}
.payroll-table-container:after {
	content: "";
	width: 100%;
	height: 75%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: linear-gradient(0deg, white, transparent);
}
.payroll-table-container.shown {
	height: auto;
	overflow: auto;
	display: flex;
	flex-direction: flex-column;
}
.payroll-table-container.shown:after {
	display: none;
}
.payroll-table-padding {
	padding: 1em;
	flex: 1;
}
.payroll-table td {
	text-align: right;
}
.payroll-table tr:hover:not(:nth-child(1)):not(:nth-child(2)) {
	background: #EBF0F6;
}
.payroll-table td:not(:first-child):before {
	content: "$";
	float: left;
	opacity: 0.3;
}
.payroll-table tr td:first-child {
	font-weight: bold;
}
.payroll-table td span {
	display: inline-block;
	width: 30%;
}
.payroll-table td span:last-child {
	text-align: left;
	margin-left: 0.5em;
}
.payroll-table td span:first-child {
	text-align: right;
	margin-right: 0.5em;
}
.payroll-table td:not(:first-child) span {
	width: 2em;
}

.condition-container {
	position: relative;
}
.condition-unknown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	opacity: 1;
	transition: opacity 0.5s;
}
.condition-unknown.hidden {
	opacity: 0;
}
.condition-open, .condition-closed {
	opacity: 0;
	transition: opacity 0.5s;
}
.condition-open.shown, .condition-closed.shown {
	display: initial;
	opacity: 1;
	height: auto;
}
.condition-open.hidden, .condition-closed.hidden {
	display: none;
}
.condition-closed {
	height: 0;
}
.container-item-body.call-body {
	padding-top: 5em;
}
.container-item-body.call-body h2 {
	margin: 1em 0;
}
.container-item-body.call-body *:last-child {
	margin-bottom: 0;
}
.container-item-body.hours-body {
	overflow-x: auto;
}
.container-item-body.hours-body tr td:first-child {
	text-align: right;
}
.container-item-body.hours-body tr td:not(:first-child) {
	text-align: center;
	white-space: nowrap;
}
.container-item-body.map-body {
	min-height: 200px;
	flex: 1;
}
iframe#map {
	width: 100%;
	height: 100%;
}
.address {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	border: 2px solid rgba(0,0,0,0.1);
	text-align: center;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	position: relative;
	background-color: transparent;
	border-radius: 3px;
}
.address:before {
	font-family: FontAwesome;
	content: "\f1d8";
	font-size: 400%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(0,0,0,0.1);
}
.address .sender {
	display: block;
	height: 6px;
	width: 20%;
	border-radius: 3px;
	background: rgba(0,0,0,0.1);
	margin-top: 16px !important;
	margin-bottom: 6px;
	float: left;
}
.address .sender:before {
	content: "";
	display: block;
	height: 6px;
	width: 60%;
	border-radius: 3px;
	background: rgba(0,0,0,0.1);
	position: relative;
	top: -12px;
}
.address .sender:after {
	content: "";
	display: block;
	height: 6px;
	width: 80%;
	border-radius: 3px;
	background: rgba(0,0,0,0.1);
	position: relative;
	top: 6px;
}
.address .stamp {
	float: right;
	width: 10%;
	padding-top: 10%;
	border-radius: 3px;
	border: 2px dashed rgba(0,0,0,0.1);
	position: relative;
	border-radius: 3px;
}
.address .stamp:before {
	font-family: FontAwesome;
	content: "\f1bb";
	color: rgba(0,0,0,0.1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.address .receiver {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: left;
	font-weight: bold;
	position: relative;
	z-index: 1;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	line-height: 1.5em;
}

@media (min-width: 1023px)
{
	.container-item.other .container-item-container {
		margin-top: 2em;
	}
	.address {
		margin-top: 4em;
	}
}

@media (max-width: 1250px)
{
	.splash .motto {
		width: 50%;
	}
	.splash .motto .motto-logo {
		width: 80%;
	}
	.splash .call-to-action {
		width: 50%;
	}
}

@media (max-width: 1050px)
{
	.container-item-body.call-body a {
		font-size: 80%;
	}
}

@media (max-width: 1023px)
{
	.container-item-body.call-body h2 {
		margin: 0.5em 0 0 0;
	}
	.container-item-body.call-body a {
		font-size: 100%;
	}
}

@media (max-width: 767px)
{
	.pure-menu-heading {
		background-color: white;
	}
	.menu-logo {
		background-image: url("/img/logo-blue.svg");
		width: 60px;
		height: 50px;
	}
	.splash {
		top: 74px;
		height: 25%;
	}
	.splash .motto {
		width: 100%;
		text-align: center;
	}
	.splash .motto .content {
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
	}
	.splash .motto .content .motto-logo {
		position: relative;
		width: 80%;
		height: 80%;
		top: 10%;
		object-fit: contain;
	}
	.splash .motto p {
		display: none;
	}
	.splash .call-to-action {
		display: none;
	}
	.container {
		margin-top: 74px;
	}
	.page-anchor {
		top: -74px;
	}
	.container.with-splash {
		top: 25%;
	}
	.container-item-body.call-body {
		padding-top: 1em;
	}
}

@media (max-width: 585px)
{
	.home-menu .home-link {
		display: none;
	}
	.menu-logo.selected {
		border-bottom-color: #254571;
	}
}

@media (max-width: 499px)
{
	.splash {
		top: 68px;
		height: 25%;
	}
	.container {
		margin-top: 68px;
	}
	.page-anchor {
		top: -68px;
	}
	.home-menu {
		font-size: 75%;
	}
	.pure-menu-item {
		padding-left: 0.25em;
		padding-right: 0.25em;
	}
	.container-item.header-only {
		font-size: 80%;
	}
}

@media (max-width: 409px)
{
	.home-menu .resources-link {
		display: none;
	}
}

@media (max-width: 374px)
{
	.container-item-body.address-body {
		font-size: 95%;
	}
	.container-item-body.call-body a {
		font-size: 80%;
	}
}